[submodule "External/NVIDIA/MathLib"]
	path = External/NVIDIA/MathLib
	url = https://github.com/NVIDIAGameWorks/MathLib
[submodule "External/NVIDIA/Streamline"]
	path = External/NVIDIA/Streamline
	url = https://github.com/NVIDIAGameWorks/Streamline
[submodule "External/NVIDIA/RTXMU"]
	path = External/NVIDIA/RTXMU
	url = https://github.com/NVIDIAGameWorks/RTXMU
[submodule "External/NVIDIA/NRD"]
	path = External/NVIDIA/NRD
	url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser
[submodule "External/NVIDIA/NRI"]
	path = External/NVIDIA/NRI
	url = https://github.com/NVIDIAGameWorks/NRI
[submodule "External/NVIDIA/ShaderMake"]
	path = External/NVIDIA/ShaderMake
	url = https://github.com/NVIDIAGameWorks/ShaderMake
